<div class="wrapper">
  <%= render "schedules/header" %>

  <div class="side_bar">
      <%= render "schedules/side_bar" %>
  </div>

  <div class="main_calender">
    <%= render "schedules/main_calender" %>
  </div>
  
  <%= link_to "スケジュール作成", new_room_schedule_path(@room), class: "nav-link" %>
</div>